@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

.max-w-50 {
  width: 270px;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.285);
}

.drop-shadow-white{
  filter: drop-shadow(2px 2px 5px rgba(143, 143, 143, 0.229));
}